.div-1 {
    background-color: #8f345f;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.link-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center; /* centers both image and text */
  text-align: center;
  background-color: azure;
  /* height: 144px; */
}
.item img {
  max-width: 64px; min-width: 64px;
  max-height: 48px; min-height: 48px;
  
  object-fit: cover;
  object-position: center;
}

.mpl {
  display:block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-height: 256px;
  overflow-y: auto;   /* Vertical scrollbar when needed */
  overflow-x: hidden; /* Optional: prevent horizontal scrolling */
}