.div-1 {
    background-color: aquamarine;
}

.link-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.link-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers both image and text */
  text-align: center;
  background-color: azure;
}
.item img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  object-position: center;
}