html {
    font-size: 16px; /* base size */
    background-color: #AA336A;
    height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
  flex: 1;
  margin: 8px;
}


p, a {
    font-size: 140%;
    text-align: center;
    margin: 0 auto;
}

.title-text {
    text-align: center;
    font-size: 2.8rem;
}
.header-text {
    text-align: center;
    font-size: 2.3rem;
}

.div-styling {
    margin: 0 auto;
    padding: 8px 12px;   /* space from the walls */
    margin-bottom: 9px;
}

.div-styling div {
    margin-bottom: 9px;
    padding: 8px 12px;   /* space from the walls */
}

.break {
  flex-basis: 100%;
  height: 0;
}

.hover-wrapper {
  position: relative;
  display: inline-block;
}

/* hidden by default */
.tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);

  background: #2a475e;
  padding: 6px;
  border-radius: 6px;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

/* IMPORTANT: hover stays active even when cursor moves into tooltip */
.hover-wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
}



header {
  padding-bottom: 8px;
}

header > div {
    background-color: #8f345f;
    display: flex;
    flex-wrap: wrap; /* this enables new lines */
    align-items: center;     /* vertical */
    padding: 6px;
    justify-content: space-between;
}


footer {
}

footer > div {
    background-color: #8f345f;
    display: flex;
    flex-wrap: wrap; /* this enables new lines */
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

    padding: 6px;
    /* padding-top: 0px; */
}

footer .ex button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

footer .ex button img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
}