.steam-list {
    background-color: #1b2838;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;   /* IMPORTANT */
    gap: 12px;
    overflow-x: auto;    /* enables scrolling */
    overflow-y: hidden;
    justify-content: flex-start; /* remove centering */
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 6px;
    width: 100%;
}

.steam-item {
    background-color: #2a475e;
    border-radius: 6px;
    padding: 10px;
    min-width: 128px;
    flex: 0 0 auto;
    align-items: center;
}
.steam-item img { border-radius: 10px; }
.steam-item div {
    background-color: #3f5f86;
    border-radius: 10px;
    margin-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.other-list {
    background-color: #ffaabb;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;   /* IMPORTANT */
    gap: 12px;
    overflow-x: auto;    /* enables scrolling */
    overflow-y: hidden;
    justify-content: flex-start; /* remove centering */
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 6px;
    width: 100%;
}

.other-item {
    background-color: #eabcbc ;
    outline: 2px solid #ffffff;
    border-radius: 6px;
    padding: 10px;
    min-width: 128px;
    flex: 0 0 auto;
    align-items: center;
}
.other-item img { border-radius: 10px; }
.other-item div {
    background-color: #3f5f86;
    border-radius: 10px;
    margin-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

.div-back {
    background-color: transparent;
}
.div-1 {
    background-color: azure;
}
.div-2 {
    background-color: azure;
    display: flex;
    flex-wrap: wrap; /* this enables new lines */
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}
.div-3 {
    background-color: azure;
    display: flex;
    flex-wrap: wrap; /* this enables new lines */
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}

.scroll {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.steam-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.steam-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
}